{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Quizzes:</p>
    {% for quiz in user.quizzes %}
        <p>{{ quiz.noCorrectAnswers }} / {{ quiz.answeredQuestions }}</p>
    {% endfor %}
</div>
