# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
Build___Run
vendor/
jwt/webapp
jwt/webapp.pub
quizzer
