{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .center {
            margin-top: 350px;
            margin-left: 250px;
        }
    </style>
    <body style="background-color: #313330">
        <div class="container">
            <div class="center col-md-6">
                <a href="{{ path('quiz_start') }}" class="btn btn-success btn-lg btn-block btn-huge">Start Quiz</a>
            </div>
        </div>
    </body>
{% endblock %}

{% block stylesheets %}

{% endblock %}
