{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/login-registration.css') }}">
{% endblock %}

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please register</h3>
				</div>
				<div class="panel-body">
					<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" role="form">
						<div class="form-group">
							{{ form_label(form.username) }}
							{{ form_widget(form.username, { 'attr': {'class': 'form-control input-sm'} }) }}
						</div>
						<div class="form-group">
							{{ form_label(form.email) }}
							{{ form_widget(form.email, { 'attr': {'class': 'form-control input-sm'} }) }}
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ form_label(form.plainPassword.first) }}		
									{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control input-sm'} }) }}
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									{{ form_label(form.plainPassword.second) }}
									{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control input-sm'} }) }}
								</div>
							</div>
						</div>
						<input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-success btn-block"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% block javascripts %}
<script src="{{ asset('bundles/app/js/login.js') }}"></script>
{% endblock %}