{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/login-registration.css') }}">
{% endblock %}

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please sign in</h3>
				</div>
				<div class="panel-body">
					<form accept-charset="UTF-8" role="form" action="{{ path("fos_user_security_check") }}" method="post">

						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

						<label for="username">{{ 'security.login.username'|trans }}</label>
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

						<label for="password">{{ 'security.login.password'|trans }}</label>
						<input class="form-control" type="password" id="password" name="_password" required="required" />
						<div class="checkbox">
							<label for="remember_me">
								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
							</label>
						</div>
						<input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
					</form>
					<a href="{{ path('fos_user_registration_register') }}">
						{{ 'layout.register'|trans({}, 'FOSUserBundle') }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock fos_user_content %}

{% block javascripts %}
	<script src="{{ asset('bundles/app/js/login.js') }}"></script>
{% endblock %}
