body{
	background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
	background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
	padding-top:100px;
}

