* {
	margin: 0;
	padding: 0;
}

.head {
	background-color: #00CC00;
	color: #FFFFFF;
	font-family: verdana;
	border: 1px solid #1E1E1E;
	border-radius: 3px;
	margin-top: 20px;
}

.content {
	background-color: #F8F8F8;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.question {
	background-color: #DFDFDF;
	border-radius: 6px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.answers {
	background-color: #DFDFDF;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.continue {
	margin-top: 30px;
	margin-bottom: 20px;
}

.copyright {
	font-family: verdana;
	color: #FFFFFF;
}

.margin-container {
	margin-top: 100px;
}

.form-align {
	margin-left: 40px;
}

body{
	background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
	background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
}

h1 {
	dispaly: block;
	line-height: 35px;
	text-decoration: none;
	text-align: left;
	margin-bottom: 30px;
}

p {
	margin-bottom: 10px;
	margin-top: 10px;
}