{{ template "header" .User }}

<!--suppress HtmlUnknownTarget -->
<div class="container">
    <main role="main">
        <div>
            <h2>Start a random quiz</h2>
            <a href="/start" class="btn btn-success">Start</a>

            <h2>Or try a prebuilt one</h2>
            <ul>
                {{range .Quizzes}}
                    <li><a href="/start/{{.ID}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
    </main>
</div>

{{ template "footer" }}
