{{ define "questions_nav" }}
    {{$qIdx := .Qidx}}
    <div class="all-questions nav">
        <ul>
            {{range $i, $q := .AllQuestions}}
                <li class="{{if eq $i $qIdx}}active{{else if $q.IsAnswered}}completed{{end}}">
                    <a href="/question/{{$i}}">
                        Question {{increment $i}}
                    </a>
                </li>
            {{end}}
        </ul>
    </div>
{{end}}
