{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/question.css') }}">
{% endblock %}

{% block body %}

<body>
	<div class="container margin-container">
		<header class="head col-md-12">
			<h1>EvoSymfony Quizzer</h1>
		</header>

		<div class="content col-md-12">
			<h7>Question: {{ quiz.answeredQuestions + 1 }}/{{ quiz.noOfQuestions }}</h7>

			<div class="question col-md-12">
				<p>{% autoescape %}{{ question.text|raw }}{% endautoescape %}</p>
			</div>

			<div class="answers form-group col-md-12">
				{{ form_start(form, {class: "form-align"}) }}
				{{ form_row(form.answers) }}
				<button name="singlebutton" type="submit" class="continue btn btn-danger">
					<span class="icon-plus"></span>Continue
				</button>
				{{ form_end(form) }}
			</div>
		</div>
		<footer class="copyright col-md-12">
			<p>
				<small>Copyright &copy; 2015 &middot;Evozon Systems</small>
			</p>
		</footer>
	</div>
</body>

{% endblock %}



