{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/result.css') }}">
{% endblock %}

{% block title %}Result Notification Boxes{% endblock %}

{% block body %}
	<div id="w">
		<div id="content">
			<h1 class="text-center"><strong>Congratulations!</strong></h1>
			<p class="text-center">You answered at {{ quiz.noCorrectAnswers }} questions correct from {{ quiz.answeredQuestions }}</p>
			{% if passed %}
                <div class="notify successbox text-center">
                    <h1>Success!</h1>
                    <span class="alerticon"><img src="http://s22.postimg.org/i5iji9hv1/check.png" alt="checkmark" /></span>
                    <p>Thank you for your time. <br>You've run the quiz and passed the exam! This is a result of preparation, hard work and learning from failure.<br><strong>Well done!!!</strong></p>
                </div>
            {% else %}
                <div class="notify errorbox text-center">
                    <h1>Failed!</h1>
                    <span class="alerticon"><img src="http://s22.postimg.org/ulf9c0b71/error.png" alt="error" /></span>
                    <p>Thank you for your time. <br>You did not get the proper score to pass the exam. Failure is simply the opportunity to begin again, this time more intelligently.<br><strong>Good job anyway!!!</strong></p>
                </div>
            {% endif %}
		</div>
	</div>
{% endblock %}
