{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/start.css') }}">
{% endblock %}


{% block body %}

<body>
    <div class="container">
        <div class="center col-md-6">
            <a href="{{ path('begin') }}" class="btn btn-success btn-lg btn-block btn-huge">Log in</a>
        </div>
    </div>
</body>

{% endblock %}
